langchain==0.3.1
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.38.0
openai==1.50.2
faiss-cpu==1.8.0.post1
altair==5.4.1
tiktoken==0.7.0
gunicorn==20.1.0  # Adicione esta linha
# Uncomment to use huggingface llms
# huggingface-hub==0.14.1
# Uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2